@import url("https://fonts.googleapis.com/css2?family=Overlock&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Overlock&display=swap');

body {
  font-family: "Overlock", cursive;
}

h1{
    font-family: 'Carter One', cursive;
}

main {
    width: 90%;
}